<h3>Join a Flock</h3>

<%= form_tag do %>
<p>
  <%= text_field_tag :address, nil, placeholder: "Address" %>
</p>
<p>
  <%= text_field_tag :summary, nil, placeholder: "Summary" %>
</p>
<p>
  <%= text_area_tag :content, nil, placeholder: "More detail...", class: "content" %>
</p>
<p>
  <%= submit_tag "Submit" %>
</p>
<% end %>
