<% @geocoded_nearby_locations.each do |location| %>

<div id="listing">

  <div class="gravatar_name_distance">
    <div>
      <%= image_tag current_user.gravatar_hash %>
    </div>

    <div>
      <%= location.message.user.name %>
    </div>

    <div>
      <%= location.address %>
    </div>
  </div>


  <div>
    <p><%= location.message.summary %></p>
    <p><%= location.message.content %></p>
  </div>


<!--   <div>
    <p>DISTANCE</p>
    <p>Distance Geocoder code</p>
  </div> -->

</div>


<% end %>




