<% @geocoded_nearby_locations.each do |location| %>

<div id="listing">

  <div id="grav_name_distance">
    <div>
      <%= image_tag current_user.gravatar_hash %>
    </div>

    <div class="name_address">
      <p><%= location.message.user.name %></p>
      <p><%= location.address %></p>
    </div>

  </div>

  <div id="summary_content">
  <div>
    <p class="summary"><%= location.message.summary %></p>
    <p class="content"><%= location.message.content %></p>
  </div>
  </div

<% end %>




