<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <title>Flockly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="headcontainer">
    <div id="title"><h1>Flockly</h1></div>
  <div id="logger">
  <% if current_user %>
      <%= link_to "View Squawks", locations_path %>  |
      <%= link_to "New Squawk", new_message_path %>  |
      <%= link_to "Log Out", logout_path %>
  <% else %>
     <%= link_to "Log in", login_path %>
  <% end %>
</div>
  </div>
  <header>
    <%= image_tag current_user.gravatar_hash if current_user %></br>
    <p><%= "Welcome back, #{current_user.name}!" if current_user %></p>
  </header>

<% flash.each do |name, msg| %>
<%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

</body>
</html>
